<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Options</h4>
  </div>
  <div class="panel-body">
    <div class="btn-group">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>