<h2>User Options</h2>
<div class="panel panel-info">
  <div class="panel-heading">
    <h4><%= current_user.username %></h4>
  </div>
  <div class="panel-body">
    <div class="btn-group">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-default' %>
      <%= link_to "Help", help_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>