<h1>Creating Wikis in Markdown</h1>
<p>* For a quick intro, checkout this <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> cheat sheet.</p>
<h4>Some simple notations you can use to style your wikis:
<ul>
  <li># will be rendered as a header. The number of hashes denotes the number of the h tag.
    <ul>
      <li># - h1</li>
      <li>## - h2</li>
      <li>...</li>
      <li>###### - h6</li>
    </ul>
  </li>
  <li>You can denote code blocks by using a pair of triple backticks (above the tab key). ``` ...code block...```</li>
  <li>Use _x_ for underline, __x__ for bold, ==x== for highlights, and *x* for italics.</li>

</ul></h4>