<div class="tag-panel">
  <div class="tag-header">
    <h4 class="">"<%= link_to tag.name, tag_path(tag) %>"</h4>
  </div>
  <div class="">
    <p>Used <%= pluralize(tag.taggings.count, 'time') %>.</p>
  </div>
</div>