<div class="col-md-8">
  <% @tags.each do |tag| %>
    <%= render partial: 'tags/tag', locals: {tag: tag} %>
  <% end %>
  <%= will_paginate @tags %>
</div>
<div class="col-md-4">
  <%= render partial: 'users/controls' %>
</div>