<div class="static-content">
  <h1>Tag: <%= @tag.name %></h1>
  <% @wikis.each do |wiki| %>
    <%= render partial: 'wikis/excerpt', locals: {wiki: wiki} %>
  <% end %>
  <%= will_paginate @wikis %>
</div>