<ul class="wiki-controls">
  <li>
    <% if wiki.public? %>
      Public
    <% else %>
      Private
    <% end %>
  </li>
  <li>
    by
    <%= link_to wiki.user.username.capitalize, user_path(wiki.user), class: 'btn btn-sm btn-info' %>
  </li>
  <li>
    <% if policy(wiki).edit? %>
      <%= link_to "Edit", edit_wiki_path(wiki), class: 'btn btn-sm btn-success' %>
    <% end %>
  </li>
  <li>
    <% if policy(wiki).destroy? %>
      <%= link_to "Delete", wiki, method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> 
    <% end %>
  </li>
</ul>
