<div class="excerpt-panel">
  <div class="excerpt-header">
    <h4 class="excerpt-title"><%= link_to wiki.title, wiki_path(wiki) %></h4>
  </div>
  <div class="excerpt-controls">
    <%= render partial: 'wikis/controls', locals: {wiki: wiki} %>
    <p>Links: <%= links_list(wiki.links) %></p>
    <p>Tags: <%= tags_to_links(wiki.tag_list) %></p>
  </div>
</div>