<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h2 class="pull-left"><%= link_to (markdown_to_html wiki.title), wiki_path(wiki) %></h2>
    <%= render partial: 'wikis/controls', locals: {wiki: wiki} %>
  </div>
  <div class="panel-body">
    <p><%= markdown_to_html wiki.body %></p>
  </div>
</div>
