<div class="col-md-8">
  <h1>Edit Wiki</h1>
  <%= render partial: 'wikis/form', locals: {wiki: @wiki} %>
</div>

<div class="col-md-4">
  <% if current_user %>
    <%= render partial: 'users/controls' %>
  <% end %>
  <% if @wiki.private? %>
    <%= render partial: 'collaborations/collaborators', locals: { wiki: @wiki, collaboration: @collaboration } %>
  <% end %>
</div>