<div class="col-md-8">
  <h2>Recently Updated Wikis</h2>
  <% @wikis.each do |wiki| %>
    <%= render partial: 'wikis/excerpt', locals: {wiki: wiki} %>
  <% end %>
</div>
<div class="col-md-4">
  <% if current_user %>
    <%= render partial: 'users/controls' %>
  <% end %>
</div>