<div class="col-md-8">
  <%= render partial: 'wikis/wiki', collection: @wikis, locals: {sample_body: @sample_body} %>
</div>
<div class="col-md-4">
  <% if current_user %>
    <%= render partial: 'users/controls' %>
  <% end %>
</div>