<div class="col-md-8">
  <%= render partial: 'wikis/wiki', locals: {wiki: @wiki} %>
</div>
<div class="hidden">
  <% if @wiki.private? %>
    <%= render partial: 'collaborations/collaborators', locals: { wiki: @wiki, collaboration: @collaboration } %>
  <% end %>
</div>