/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
$main-color: #424242;
$sidebar-color: rgba(95, 103, 112, 0.8);
@mixin links ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
.app-header,
.sidebar {
  display: inline-block;
  margin: 0;
}
nav {
  padding: 20px 20px;
  .nav-logo {
    display: inline-block;
    padding: 0 20px 0 0;
    img {
      width: 100px;
      vertical-align: text-top;
    }
  }
  ul {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
      margin: 0;
    }
  }
  ul.nav-left {
    li{
      padding: 5px 20px 5px 0;
    }
  }
  ul.nav-right {
    float: right;
    li {
      padding: 5px 0 5px 20px;
    }
  }
}
.app-header {
  width: 75%;
  a {
    color: $main-color;
  }
}
.sidebar {
  float: right;
  background: $sidebar-color;
  width: 25%;
  height: 100vh;
  a {
    color: white;
  }
}
.main-content {
  padding: 0 0 0 20px;
  margin: 0;
}
.flash {
  display: inline-block;
  padding: 0 10px;
  color: $sidebar-color;
  .close-flash {
    border: none;
    background: $sidebar-color;
    color: white;
    min-width: 25px;
    min-height: 25px;
    border-radius: 2px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 0;
    .nav-logo {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
      img {
        width: 150px;
      }
    }
    ul.nav-right {
      float: none;
    }
    ul.nav-left li,
    ul.nav-right li {
      padding: 10px 10px;
    }

  }
  .app-header{
    width: 100%;
  }
  .sidebar {
    float: none;
    height: 60px;
    width: 100%;
    background: white;
    border-bottom: 1px solid $sidebar-color;
    a {
      color: $main-color;
    }
  }
}