@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "global";

/**************************************
  Main Layout Styles
**************************************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
.app-header,
.sidebar {
  display: inline-block;
  margin: 0;
}
nav {
  padding: 20px 20px;
  .nav-logo {
    display: inline-block;
    padding: 0 20px 0 0;
    img {
      width: 100px;
      vertical-align: text-top;
    }
  }
  ul {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
    li {
      display: inline-block;
      margin: 0;
    }
  }
  ul.nav-left {
    li{
      padding: 5px 20px 5px 0;
    }
  }
  ul.nav-right {
    float: right;
    li {
      padding: 5px 0 5px 20px;
    }
  }
}
.app-header {
  width: 75%;
  a,
  a:visited {
    color: $main-color;
  }
}
.sidebar {
  float: right;
  background: $sidebar-color;
  width: 25%;
  max-width: 350px;
  a {
    color: white;
  }
}
.main-content {
  width: 75%;
  padding: 0;
  margin: 0;
}
.flash {
  display: inline-block;
  padding: 0 10px;
  color: $highlight-color;
  .close-flash {
    border: none;
    background: $highlight-color;
    color: white;
    min-width: 25px;
    min-height: 25px;
    border-radius: 2px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  nav {
    padding: 0;
    .nav-logo {
      display: block;
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
      img {
        width: 150px;
      }
    }
    ul.nav-right {
      float: none;
    }
    ul.nav-left li,
    ul.nav-right li {
      padding: 10px 10px;
    }

  }
  .app-header,
  .main-content{
    width: 100%;
  }
  .sidebar {
    float: none;
    min-height: 10px;
    width: 100%;
    max-width: none;
    background: white;
    border-bottom: 1px solid $sidebar-color;
    padding-bottom: 20px;
    a {
      color: $main-color;
    }
  }
}
.static-content,
.paginated-content {
  padding-left: 20px;
  a,
  a:visited {
    color: $highlight-color;
  }
}

/**************************************
  Form Styles
**************************************/
input.form-field {
  border-radius: 15px;
  text-indent: 10px;
  box-shadow: none;
  border: none;
  min-height: 30px;
  width: 100%;
  margin: 5px 0;
}
@media (max-width: 768px) {
  input.form-field {
    border: 1px solid $emphasis-color;
  }
}
.form-group {
  padding: 10px;
}
.sidebar-form-group {
  padding: 0 0 5px 0;
}
.form-group,
.sidebar-form-group {
  label {
    display: block;
    padding: 0 0 10px 5px;
  }
  input.form-control {
    border-radius: 15px;
    text-indent: 10px;
    border: 1px solid $emphasis-color;
    min-height: 30px;
    width: 100%;
  }
  .checkbox input{
    margin-right: 5px;
  }
}
/**************************************
  Utility Styles
**************************************/
.hidden {
  display: none;
}

/**************************************
  Menu Show/Hide Styles
**************************************/
.wp-collapse.wp-block {
  display: block;
}
.wp-collapse.wp-inline-block {
  display: inline-block;
}
.wp-reveal {
  display: none;
  text-align: center;
  color: $main-color;
}
@media (max-width: 768px) {
  .wp-collapse.wp-block,
  .wp-collapse.wp-inline-block {
    display: none;
  }
  .wp-reveal{
    display: block;
  }
}



