@import "global";

// Wiki styles

.wiki-panel {
  padding: 0 0 0 20px;
  width: 80%;
  margin: 0 auto;
  a,
  a:visited {
    color: $highlight-color;
  }
}
.wiki-header {
  margin: 0;
  padding: 0 0 10px 0;
}
.wiki-title {
  display: inline-block;
  padding-right: 20px;
  color: $main-color;
}
ul.wiki-controls,
ul.link-controls {
  display: inline-block;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding-right: 20px;
  }
}
.wiki-body {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .wiki-panel {
    width: 100%;
  }
}

textarea {
  width: 100%;
  resize: vertical;
}

// Excerpt Styles

.excerpt-panel {
  margin-bottom: 40px;
}
.excerpt-header {
  padding: 0;
  margin: 0;
}
.excerpt-title {
  display: block;
}
.excerpt-content,
.excerpt-controls {
  padding-left: 20px;
}
ul.link-info {
  padding-left: 0;
  li {
    display: inline-block;
    padding: 0 10px 0 0;
    margin: 0;
  }
}

// Tag Styles

.tag-panel {
  padding: 0;
  width: 80%;
  margin: 0;
  a,
  a:visited {
    color: $highlight-color;
  }
}