.user-controls {
  margin-top: 40px;
  padding: 0 20px;
}
.user-links {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .user-controls {
    margin-top: 20px;
    padding: 0 10px;
  }
}